/* .pagegrid{
    display:grid;
    grid-template-columns: repeat(4,1fr);
    grid-template-rows: repeat(2,1fr);
} */
.pagegrid{
    display: flex ;
    /* grid-template-columns: repeat(4,1fr); */
    /* grid-template-rows: repeat(2,1fr); */
    gap: 7%;
    margin: 17rem 12.31rem 12.625rem 6.31rem;
}
/* .firstimg{
    background-color: #093E67;
    width: 113px;
    border-radius: 25px;
} */
.finan{
    background-color: #093E67;
    /* width: 113px; */
    border-radius: 45px;
    padding: 2.25rem 1.5rem 2.125rem 1.5rem;
    /* margin-top: 3rem; */
    grid-row: 2/4;
}
.life{
    padding: 2.25rem 1.5rem 2.125rem 1.5rem;
    background-color: #093E67;
    border-radius: 45px;
    grid-row: 1/3;
}
.passion{
    padding: 2.25rem 1.5rem 2.125rem 1.5rem;
    background-color: #093E67;
    border-radius: 45px;
    grid-row: 1/3;
}
.work{
    padding: 2.25rem 1.5rem 2.125rem 1.5rem;
    background-color: #093E67;
    border-radius: 45px;
    /* margin-top: 3rem; */
    grid-row: 2/4;
}
.passiontext{
    grid-row:3/5;
}
.financtext{
    grid-row: 4/5;
}
h4{
    font-size: 1.125rem;
    color: white;
    margin-bottom: 1.437rem;
}






.pass{
    display: flex;
    flex-direction: column;

    /* grid-template-rows: repeat(3,1fr); */
}
/* .passion1{
    grid-row: 1/2;
}
.passiontext1{
    grid-row: 2/3;
} */
/* .passion1{
    background-color: #093E67;
    width: 35%;
    align-self: center;
    border-radius: 45px;
    padding: 0%;
} */
.passiotext1{
    display: flex;
    flex-direction: row;
}
.pass1{
    display: flex;
    /* grid-template-rows: repeat(3,1fr); */
    flex-direction: column;
    margin-top: 3rem;
}
.passion1{
    background-color: #093E67;
    /* width: 113px; */
    border-radius: 45px;
    padding: 2.25rem 1.5rem 2.125rem 1.5rem;
}


@media  (min-width:767px) and (max-width:1024px){
    .pagegrid{
        display: flex;
        flex-direction: column;

    }
    .pass{
        display: flex;
        flex-direction: row;
        margin-left: 4rem;
        gap:2rem;
    }
    .pass1{
        display: flex;
        flex-direction: row;
        gap:2rem;
    }
}
@media (max-width:766px){

.pagegrid{
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 5%;
}
.passiontext1>p{
    /* text-align: center; */
    padding-left: 5%;
}
.scrollimg{
    margin: 0;
}
.passion1{
    width: 50%;
    margin-left: 20%;
}
}